:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #1f2023;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #885Cf6;
  --red: rgb(198, 19, 19);
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--darkest);
  position: fixed;
  box-shadow: 0 5px 0 rgb(219, 22, 22);
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 1rem;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a { 
  display: inline-block;
  color: var(--light);
  text-decoration: none;
  padding: 1rem;
  font-size: larger;
  opacity: 0.6;
}

.navbar-menu li a:hover {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.sign {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: larger;
  text-decoration: none;
  color: var(--light);
}

.sign:hover {
  transform: scale(1.1);
  color: var(--purple);
  transition: all 0.15s ease-out;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--light);
  transform: scale(1);
  transition: 0.4s all;
  width: 30%;
}

.validation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 0 0 20px 0;
  width: 70%;
  height: 25px;
  border-radius: 6px;
}

.button {
  background-color: var(--dark);
  color: var(--light);
  width: 30%;
  height: 2rem;
  border-radius: 10px;
  font-size: medium;
}

.subscription{
  background-image: url(../src/assets/wallpaper-money.png);
  width: 1260px;
  height: 550px;
  margin-top: -1%;
  background-repeat: no-repeat;
}
.sub-block{
  background-color: white;
  background-image: url(../src/assets/tv.png);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  margin-left: 150px;
  position: absolute;
  margin-top: 100px;
}
.sub-block2{
  background-color: white;
  background-image: url(../src/assets/tv2.png);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  margin-left: 750px;
  position: absolute;
  margin-top: 100px;
}
.pro_label{
  font-size: 27px;
  padding: 10px 9px;
  border-radius: 2px;
  line-height: 12px;
  background-color: var(--red);
  color: white;
  margin-top: 65%;
  display: inline-block;
}
.subscription span{
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.2mm;
  cursor: pointer;
}
.span1 {
  margin-left: 16%;
}
.span2 {
  margin-top: 57%;
  margin-left: 18%;
  position: absolute;
}
.donate{
  font-weight: 500;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  transform: scale(0);
  z-index: 9999;
}
.donate.active{
  transform: scale(1);
}
.donate-content{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 700px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}
.donate-button1{
  margin-right: 4%;
  line-height: 14px;
  padding: 10px 13px;
  font-weight: 400;
  font-size: medium;
  cursor: pointer;
}
.donate-content input {
  margin-right: 4%;
  padding: 8.3px 7px;
  font-weight: 400;
  font-size: medium;
}
.donate-send{
  background-color: var(--red);
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 35px;
  font-size: 22px;
  line-height: 30px;
  color: white;
  margin-top: 12%;
  cursor: pointer;
}
.donate-description{
  margin-top: 2%;
  margin-bottom: 3%;
}
.hide{
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin-left: 54%;
  margin-top: -1.7%;
}
.tv-shows-filters{
  width: 240px;
  display: flex;
  height: 1000px;
  flex-direction: column;
  border-left: 2px solid #eee;
  margin-left: 74%;
  position: fixed;
  margin-top: -5%;
}
.tv-shows-content{
  margin-left: 2%;
}
.tv-shows-title{
  font-weight: 500;
}
.tv-shows-content input{
  width: 615px;
  padding: 5.5px 10px;
  font-size: 16px;
  border: 1px solid rgb(195, 191, 191);
  border-right: none;
  outline: none;
}
.tv-shows-content button{
  padding: 5px 10px;
  font-size: 16px;
  border: 1.5px solid var(--red);
  cursor: pointer;
  background-color: var(--red);
  color: white;
}
.tv-shows-content a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.tv-shows-head{
  margin-top: 2%;
  width: 690px;
  border-bottom: 3px solid var(--red);
}
.tv-show-name{
  margin-left: 0.2%;
}
.tv-show-rating{
  margin-left: 38%;
}
.tv-show-watched-by{
  margin-left: 15%;
}
.tv-show-year{
  margin-left: 15%;
}
.patrick{
  width: 110px;
  margin-left: 21%;
  text-align: center;
  margin-top: -0.6%;
  position: fixed;
}
.tv-shows-row{
  display: block;
  margin-top: 1.3%;
  font-size: 18px;
}
.names{
  height: 30px;
}
.row-container{
  display: flex;
}
.digits{
  margin-left: 36.5%;
  position: fixed;
}
.year{
  margin-left: 50%;
  position: fixed;
}
.filters-list{
  display: table;
  cursor: pointer;
}
#more{
  display: none;
}
#myBtn{
  cursor: pointer;
  color: var(--red);
  text-decoration: underline;
}
.sherlock-image{
  width: 650px;
  height: 400px;
}
.sherlock-content{
  margin-left: 4%;
}
.sherlock-content a{
  text-decoration: none;
}
.link-sherlock{
  color: black;
}
.page-title{
  font-weight: 400;
}
.status-btn{
  font-size: 16px;
  padding: 8px 10px 15px;
  background-color: #ececec;
  border: none;
  cursor: pointer;
  margin-right: 4px;
  width: 159px;
  height: 37px;
}
.status-button{
  display: flex;
}
.status-btn:active{
  background-color: var(--red);
  color:white;
  transition: 1s;
}
.status-btn:focus{
  background-color: var(--red);
  color:white;
}
td{
  width: 400px;
}
.description{
  position: absolute;
  margin-left: 53%;
  margin-top: -33%;
}
.plot{
  border-bottom: 3px solid var(--red);
  width: 50px;
}
.pro-icon{
  background-color: var(--red);
  margin-left: 1%;
  padding: 5px 8px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  width: 400px;
}
.option-sub1{
  text-align: center;
}
.kinda-discount{
  background-color: var(--red);
  border: none;
  font-size: 23px;
  font-weight: 700;
  padding: 5px 16px;
  color: white;
  height: 36px;
  cursor: pointer;
  border-radius: 2px;
}
.too-expensive{
  text-decoration: line-through;
  font-size: 26px;
  margin-right: 1%;
}
.prices-huge{
  display: flex;
  margin-left: 29%;
  
}
.option-sub2{
  text-align: center;
  margin-top: 8%;
  margin-bottom: 5%;
}
.line{
  margin-bottom: 10%;
}
.prices-huge2{
  display: flex;
  margin-left: 29%;
}
.line {
  overflow: hidden;
  text-align: center;
  font-size: 30px;
}
.line span {
  display: inline-block;
  vertical-align: middle;
}
.line:before,
.line:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 4px;
  background-color: var(--red);
  position: relative;
}
.line:before {
  margin-left: -100%;
  left: -14px;
}
.line:after {
  margin-right: -100%;
  right: -14px;
}